<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Landing Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap" rel="stylesheet">   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' type='text/css' media='screen' href='../model/css/main.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../model/css/mobile.css'>    
</head>

<body>
    <div class="menu-wrap" id="wrap">
        <input type="checkbox" class="toggler" id="tog" onchange="hamburgerController()">
        <div class="hamburger"><div></div></div>
    </div>
    <div class="overlay" id="ovr"></div>
    <div class="bg-showcase"></div>
    <div class="grid-container">
        <div class="grid-col1">
            <div class="showcase-socialMedia-container">
                <a href="https://de.linkedin.com" target="blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.xing.com" target="blank"><i class="fa fa-xing"></i></a>
                <a href="https://www.instagram.com" target="blank"><i class="fa fa-instagram"></i></a>
                <a href="https://de-de.facebook.com" target="blank"><i class="fa fa-brands fa-facebook-f"></i></a>
                <a href="https://www.youtube.com" target="blank"><i class="fa fa-youtube-play"></i></a>
            </div>
        </div>
        <div class="grid-col2">
            <header>
                <nav id="navigation">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Page2</a></li>
                        <li><a href="#">Page3</a></li>
                    </ul>
                </nav>
                <a href="https://reanmo.de" target="blank"><img src="../images/Logo-reanmo-light.png"/></a>
                <div class="btn-wrapper">
                    <a id="btn-contact" class= "btn btn-primary" href="#">Kontakt</a>
                </div>      
            </header>
            <div class="showcase-content">
                <h1>Smart Home Application</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa, animi tenetur nobis facilis sapiente consequatur odit natus voluptas illo possimus accusantium. Veritatis, harum asperiores?</p>
            </div>
            <div class="showcase-images">
                <img src="../images/Smartphone Energy.png" alt="EnergyView">
                <img src="../images/Smartphone Temperatur.png" alt="TemperatureView">
                <img src="../images/Smartphone MyRoom.png" alt="MyRoomView">
            </div>
            <div class="stores">
                <a href="https://www.apple.com/de/app-store" target="blank"><img src="../images/AppStore.png" alt="AppleAppStore"></a>
                <a href="https://play.google.com" target="blank"><img src="../images/GooglePlayStore.png" alt="GooglePlayStore"></a>
            </div>
            <h2>Our Service</h2>
            <article>
                <img src="../images/Smartphone Temperatur.png" alt="TemperatureView">
                <aside>
                    <h3>Smart Home - Smart Service</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam quasi commodi ea repellat animi ipsam ex, error modi quas temporibus facere nesciunt suscipit accusamus amet cumque, iste, asperiores voluptatum dolores totam assumenda nam perspiciatis atque. Voluptatum doloribus quasi sint fugit fugiat et! Praesentium accusamus aliquid pariatur dolor tempora! Delectus, laborum.
                    </p>
                    <div class="alignButton">
                        <a class= "btn btn-primary" href="#">Lerne mehr</a>
                    </div>
                </aside>
            </article>
            <article>
                <aside>
                    <h3>How to manage your Rooms?</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam quasi commodi ea repellat animi ipsam ex, error modi quas temporibus facere nesciunt suscipit accusamus amet cumque, iste, asperiores voluptatum dolores totam assumenda nam perspiciatis atque. Voluptatum doloribus quasi sint fugit fugiat et! Praesentium accusamus aliquid pariatur dolor tempora! Delectus, laborum.
                    </p>
                    <div class="alignButton">
                        <a class= "btn btn-primary" href="#">Lerne mehr</a>
                    </div>
                </aside>
                <img src="../images/Smartphone MyRoom.png" alt="MyRoomView">
            </article>
            <h2>Testimonials</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam laudantium beatae ipsa quae, quas eveniet iure. Illo vero excepturi natus, necessitatibus beatae quaerat harum. Sequi.
            </p>
            <div class="testimonials">
                <div class="testimonial">
                    <div class="testimonial-header">
                        <img src="../images/ProfileElonMusk.png">
                        <h4>Elon Musk</h4>
                    </div>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, inventore repellendus corrupti, optio harum aliquam sunt facere, quibusdam possimus a officia atque corporis! Magnam libero earum eaque cupiditate tenetur beatae est alias aspernatur ab repudiandae aliquid saepe nulla praesentium totam itaque assumenda, maxime cum nobis veniam doloribus placeat laboriosam perferendis.
                    </p>
                </div>
                <div class="testimonial">
                    <div class="testimonial-header">
                        <img src="../images/ProfileJeffBezos.png">
                        <h4>Jeff Bezos</h4>
                    </div>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, inventore repellendus corrupti, optio harum aliquam sunt facere, quibusdam possimus a officia atque corporis! Magnam libero earum eaque cupiditate tenetur beatae est alias aspernatur ab repudiandae aliquid saepe nulla praesentium totam itaque assumenda, maxime cum nobis veniam doloribus placeat laboriosam perferendis.
                    </p>
                </div>
            </div>
            <h2>FAQ</h2>
            <div class="faqs">
                <div class="faq" onclick="faqController('faq1')">
                    <h4>+ Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
                    <p id="faq1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In voluptatem vitae veritatis quae, doloremque error quis vel praesentium accusamus quasi? Adipisci non ipsam consequuntur ut expedita incidunt, id repellat sed maxime neque placeat, nobis dicta cumque, similique modi rerum obcaecati quam! Nemo ut ab libero voluptate, minima vitae deserunt nobis?</p>
                </div>
                <div class="faq" onclick="faqController('faq2')">
                    <h4>+ Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
                    <p id="faq2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In voluptatem vitae veritatis quae, doloremque error quis vel praesentium accusamus quasi? Adipisci non ipsam consequuntur ut expedita incidunt, id repellat sed maxime neque placeat, nobis dicta cumque, similique modi rerum obcaecati quam! Nemo ut ab libero voluptate, minima vitae deserunt nobis?</p>
                </div>
                <div class="faq" onclick="faqController('faq3')">
                    <h4>+ Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
                    <p id="faq3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In voluptatem vitae veritatis quae, doloremque error quis vel praesentium accusamus quasi? Adipisci non ipsam consequuntur ut expedita incidunt, id repellat sed maxime neque placeat, nobis dicta cumque, similique modi rerum obcaecati quam! Nemo ut ab libero voluptate, minima vitae deserunt nobis?</p>
                </div>
                <div class="faq" onclick="faqController('faq4')">
                    <h4>+ Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
                    <p id="faq4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In voluptatem vitae veritatis quae, doloremque error quis vel praesentium accusamus quasi? Adipisci non ipsam consequuntur ut expedita incidunt, id repellat sed maxime neque placeat, nobis dicta cumque, similique modi rerum obcaecati quam! Nemo ut ab libero voluptate, minima vitae deserunt nobis?</p>
                </div>
                <div class="faq" onclick="faqController('faq5')">
                    <h4>+ Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
                    <p id="faq5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In voluptatem vitae veritatis quae, doloremque error quis vel praesentium accusamus quasi? Adipisci non ipsam consequuntur ut expedita incidunt, id repellat sed maxime neque placeat, nobis dicta cumque, similique modi rerum obcaecati quam! Nemo ut ab libero voluptate, minima vitae deserunt nobis?</p>
                </div>
            </div>
            <div class="subscribe">
                <h2>Subscribe to get updated</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam necessitatibus tenetur delectus rerum explicabo nostrum possimus nemo quos totam non, assumenda esse facere ab eos dolorum dicta hic ut! Cupiditate.
                </p>
                <a id="subscribe-button" class="btn btn-primary" href="#">Subscribe</a>
            </div>
        <footer>
            <div class="contact">
                <a href="https://reanmo.de" target="blank"><img src="../images/Logo-reanmo-dark.png"/></a>
                <p>02871 2372 427</p>
                <p>info@reanmo.com</p>
            </div>
            <menu>
                <div class="links">
                    <h4>Links</h4>
                    <a href="#">Home</a>
                    <a href="#">Portfolio</a>
                    <a href="#">Service</a>
                    <a href="#">About</a>
                    <a href="#">Magazin</a>
                </div>
                <div class="legal">
                    <h4>Legal</h4>
                    <a href="#">Impressum</a>
                    <a href="#">Datenschutz</a>
                </div>
                <div class="language">
                    <h4>Language</h4>
                    <a href="#"><img src="../images/flag-germany.png" alt="deutsch"></a>
                    <a href="#"><img src="../images/flag-greatBritain-unselected.png" alt="english"></a>
                </div>
            </menu>
        </footer>
        </div>
        <div class="grid-col3"></div>
    </div>
    <div class="copyright"><p>Copyright 2022 All rights reserved reanmo GmbH</p></div>
    <button class="btn btn-primary" id="toTop" onclick="toTopFunction()">
        <i class="fa fa-arrow-up fa-2x"></i>
    </button>
    <script src='../controller/javaScript/hamburgerController.js'></script>
    <script src='../controller/javaScript/faqController.js'></script>
    <script src='../controller/javaScript/toTopButtonController.js'></script>
</body>
</html>
